CompileFlags:
  Add: [-mlong-calls, -isysroot=/home/stiv/.espressif/tools/esp32ulp-elf/2.35_20220830/esp32ulp-elf/]
  Remove: [-fno-tree-switch-conversion, -mtext-section-literals, -mlongcalls, -fstrict-volatile-bitfields, -fno-shrink-wrap]
